# Ignore all intermediate pbrt files
patterns/*
outputs/*

# Heavy scene files, obj's etc.
scenes/dragon_subsurface/dragon.pbrt

.idea/*

__pycache__/*
*/__pycache__/*

# pbrt binary
pbrt

pypbrt_strucutred_light.egg-info