# Ignore all intermediate pbrt files
outputs

# Heavy scene files, obj's etc.
data/scenes/dragon_subsurface/
data/scenes/sssdragon/
data/scenes/sportscar/

# Patterns
data/patterns

# SPAD captures
data/SPAD_captures

# BCH reference text
docs/1981_Bookmatter_Error-CorrectionCodingForDigit.pdf

.idea
.DS_Store
.pytest_cache
__pycache__
**/__pycache__/
quanta_SL/.cache

# pbrt binary
pbrt

quanta_SL.egg-info