black
Cython
einops
galois
graycode

# Hydra Dependencies
hydra_colorlog
hydra-core>=1.1
hydra-joblib-launcher
hydra-optuna-sweeper

ipdb
line_profiler
loguru
matplotlib
nptyping
numpy
numba
opencv-contrib-python
pandas
pytest
pykeops
pynndescent
SciencePlots
scipy
tqdm
varname