black
Cython
dotmap
einops
kaleido
galois
graycode

# Hydra Dependencies
hydra_colorlog
hydra-core>=1.1
hydra-joblib-launcher
hydra-optuna-sweeper

ipdb
line_profiler
loguru
matplotlib
nptyping
numba
numpy>=1.20,<1.21
opencv-python

# Open3d for python3
--pre https://storage.googleapis.com/open3d-releases-master/python-wheels/open3d-0.13.0+5e047b8-cp39-cp39-macosx_10_14_x86_64.whl

pandas
plotly
pytest
pykeops
pynndescent
SciencePlots
scipy
sphinx
tqdm